body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    color: white;
    text-align: center;
}

header {
    padding: 40px 0;
}

h1 {
    font-size: 40px;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

.card {
    background-color: #1c1c1c;
    padding: 60px 0;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.card:hover {
    background-color: #333;
    transform: scale(1.05);
}